// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #fff; // Site main color - (Основний колір сайту)
	--secondary: #EDF4FF;
	--blueColor: #1858B8;
	--blueColor-hover: #0B4397;
	--border: #B0BFD7;
	--text: #0E274D;
	--greyColor: #838383;
	--bg-lite: #EDF4FF;
	// =================================================================
}
