@import "tailwindcss";
/* @import "../../assets/scss/style.scss";
@import "@mdxeditor/editor/style.css"; */
@plugin '../../../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #fff;
  --color-secondary: #edf4ff;
  --color-blueColor: #1858b8;
  --color-blueColor-hover: #0b4397;
  --color-border: #b0bfd7;
  --color-text: #0e274d;
  --color-greyColor: #838383;
  --color-bg-lite: #edf4ff;

  --breakpoint-1400: 1400px;
}

.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
::-webkit-scrollbar {
  width: 6px; /* ширина всей полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: transparent; /* цвет зоны отслеживания */
}

::-webkit-scrollbar-thumb {
  background-color: #b0bfd7; /* цвет бегунка */
  border-radius: 5px; /* округлось бегунка */
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ibg--top {
  object-position: top;
}
.ibg--bottom {
  object-position: bottom;
}
.ibg--left {
  object-position: left;
}
.ibg--right {
  object-position: right;
}
.ibg--contain {
  object-fit: contain;
}

.main-container {
  @apply max-w-[1310px] mx-auto px-[15px] w-full;
}
.wrapper {
  @apply after:absolute after:z-10 after:inset-0 after:bg-black/50 after:opacity-0 after:pointer-events-none after:transition-all after:duration-300;
}
.burger-menu-open .wrapper {
  @apply after:opacity-100 after:pointer-events-auto;
}
.no-scroll {
  overflow: hidden;
}

.button {
  @apply cursor-pointer inline-flex gap-2.5 w-full max-w-[200px] min-h-[55px] items-center justify-center text-center px-5 py-1 rounded-md bg-blueColor text-white transition-all duration-300 hover:bg-blueColor-hover;
}

.button--icon {
  @apply flex-shrink-0 w-[45px] h-[45px] min-w-0 p-1;
}
.button--fw {
  @apply max-w-none w-full;
}
.button--secondary {
  @apply bg-secondary text-black border border-black hover:bg-[#c4dbff];
}
.button--secondary:active {
  @apply transition-none text-[#ba360c];
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
  padding: 0;
}

.input {
  @apply w-full block px-[14px] py-1 min-h-[50px] rounded-md min-h-[45px] text-sm outline outline-[#b0bfd7] bg-[#f8fbff];
}
.input:has(input:disabled) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.input::placeholder {
  color: #b0bfd7;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity 0.3s;
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input--error {
  outline: 1px solid #ff0000 !important;
}

.select {
  @apply min-w-[84px] relative;
}
.select__placeholder {
  color: #b0bfd7;
}
.select__body {
  @apply z-[3] relative rounded-md w-full block min-h-[45px] text-sm outline outline-[#b0bfd7] bg-[#f8fbff];
}
.select__body.active {
  @apply z-[10];
}
.select__body.active .select__options {
  transform: translateY(0) !important;
}
.select__wrapper {
  @apply absolute flex w-full h-fit overflow-hidden top-[calc(100%-1px)] pointer-events-none left-0 -z-[1];
}
.select__title {
  @apply text-inherit text-left cursor-pointer w-full h-full rounded-sm transition-all duration-300 bg-[#f8fbff] hover:text-blueColor;
}
.select__value {
  @apply flex min-w-0 items-center p-[14px] pr-[25px] gap-2.5;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value::before,
.select__value::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 1.5px;
  width: 6px;
  transition: transform 0.5s ease 0s;
}
.select__value::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.select__value::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.active .select__value::before {
  transform: translateX(-75%) rotate(-40deg);
}
.active .select__value::after {
  transform: rotate(40deg);
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100px;
  transition: all 0.3s ease;
  pointer-events: all;
  color: #000;
  transform: translateY(-110%);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  border-top: 0;
  border: 1px solid #b0bfd7;
  background-color: #edf4ff;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}
.select__option {
  @apply flex items-center text-inherit w-full h-10 text-left cursor-pointer py-[5px] px-[15px] border-b border-[#b0bfd7] last:border-b-0 hover:bg-[#c4dbff];
}

.select__option._select-selected {
  @apply bg-[#eee];
}

.select__row {
  display: inline-flex;
  align-items: center;
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 1px);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0px 10px 0px;
}
._select-tag {
  cursor: pointer;
}

.language .select {
  position: relative;
}
.language .select__body {
  @apply outline outline-blueColor bg-white;
}
.language .select__title {
  @apply text-blueColor;
}
.language .select__value::before,
.language .select__value::after {
  @apply content-[''] absolute right-2.5 top-1/2 bg-blueColor h-[1.5px] w-1.5 transition-transform duration-500;
}
.language .select__options {
  @apply text-blueColor top-[calc(100%-2px)] bg-[#edf4ff] p-0 border border-[#b0bfd7];
}
.language .select__scroll {
  @apply overflow-y-auto overflow-x-hidden max-h-[200px];
}
.language .select__option {
  @apply w-full h-10 text-left cursor-pointer py-[5px] px-[15px] text-black hover:bg-[#c4dbff];
}
.language .select__option:not(:last-child) {
  @apply border-b border-[#b0bfd7];
}
.language .select__option._select-selected {
  @apply bg-[#eee];
}

.swiper {
  overflow: hidden;
}
.swiper-initialized {
  touch-action: pan-y;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}
.swiper-vertical {
  .swiper-wrapper {
    flex-direction: column;
  }
}
.swiper-autoheight {
  .swiper-wrapper {
    align-items: flex-start;
  }
}
.swiper-initialized {
  .swiper-slide {
    cursor: pointer;
    flex-shrink: 0;
  }
}
.swiper-android {
  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}
.swiper-button-lock {
  display: none !important;
}

.swiper-pagination {
  @apply flex items-center gap-2.5 justify-center mx-auto;
}
.swiper-pagination .swiper-pagination-bullet {
  @apply flex-[0_0_6px] w-1.5 h-1.5 rounded-full bg-border;
}
.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-greyColor;
}

.item-advert {
  @apply flex flex-col justify-between p-2 pb-5 items-center gap-5 bg-white shadow-[0_6px_15px_0_rgba(40,40,40,0.15)] rounded-md w-full min-h-full transition-all duration-300 hover:shadow-[0_6px_15px_0_rgba(11,67,151,0.5)] hover:scale-101;
}

.item-advert__image {
  @apply transition-all duration-300 w-full aspect-[289/335] overflow-hidden rounded-md border border-border;
}

.item-advert__image img {
  @apply w-full h-full object-cover;
}

.item-advert__body {
  @apply w-full flex flex-col gap-5;
}

.item-advert__content {
  @apply flex items-center gap-5 justify-between;
}

.item-advert__name {
  @apply font-medium text-[18px];
}

.item-advert__bottom {
  @apply flex items-center gap-5 justify-between;
}

.item-advert__price {
  @apply font-semibold text-[24px] text-blueColor;
}

.like {
  @apply relative z-[2] rounded-sm flex-[0_0_40px] w-10 h-10 border border-blueColor flex items-center justify-center;
}
.like svg {
  @apply flex-[0_0_22px] size-[22px];
}
.like svg * {
  @apply transition-all duration-300;
}
.like.active svg * {
  @apply fill-[#ba360c];
}

.pages {
  @apply w-fit mx-auto flex items-center gap-2.5;
}
.pages__arrow {
  @apply flex-[0_0_40px] w-10 h-10;
}
.pages__arrow svg {
  @apply size-full;
}
.pages__arrow svg * {
  @apply transition-all duration-300;
}
.pages__arrow.disabled {
  @apply pointer-events-none;
}
.pages__arrow.disabled svg rect {
  @apply fill-[#fff];
}
.pages__arrow.disabled svg path {
  @apply fill-blueColor;
}
.pages__arrow-prev {
  @apply rotate-180;
}
.pages__body {
  @apply flex items-center rounded-lg border border-border h-fit bg-[#f8fbff] overflow-hidden;
}
.pages__page {
  @apply flex-[0_0_40px] w-10 h-10 flex items-center justify-center text-center transition-all duration-300 cursor-pointer hover:text-blueColor;
}
.pages__page:not(:last-child) {
  @apply border-r border-border;
}

.breadcrumbs {
  @apply py-3.75 border-b border-border;
}
.breadcrumbs__link {
  @apply relative transition-all duration-300 hover:text-blueColor hover:before:w-full before:absolute before:bottom-[-2px] before:left-0 before:w-0 before:h-0.5 before:bg-blueColor before:transition-all before:duration-300;
}

.breadcrumbs__body {
  @apply flex items-center gap-5;
}
.breadcrumbs__arrow {
  @apply w-[33px]  flex items-center justify-center;
}
.breadcrumbs__arrow .breadcrumbs__arrow-icon {
  @apply transition-all duration-300;
}

@media (any-hover: hover) {
  .breadcrumbs__arrow:hover .breadcrumbs__arrow-icon {
    @apply fill-blueColor;
  }
}
.breadcrumbs__content {
  @apply flex items-center gap-1.25 text-sm;
}
.breadcrumbs__current {
  @apply text-greyColor;
}

.share {
  @apply flex-[0_0_30px] w-7.5 h-7.5;
}
.share svg {
  @apply size-full;
}
.share svg * {
  @apply transition-all duration-300;
}

.swiper-button {
  @apply cursor-pointer absolute hidden z-[2] shrink-0 w-10 h-10 top-1/2 -translate-y-1/2 bg-blueColor rounded-sm 1400:flex items-center justify-center text-white border border-blueColor transition-all duration-300 hover:bg-blueColor-hover;
}

.swiper-button.swiper-button-disabled {
  @apply bg-white text-blueColor;
}

.swiper-slide {
  @apply cursor-pointer h-full;
}

.swiper-button-prev {
  @apply left-0 -translate-y-1/2 rotate-180;
}
.swiper-button-next {
  @apply right-0;
}

.actions-top__item {
  @apply flex-[0_0_30px] w-7.5 h-7.5;
}

.actions-top__item svg {
  @apply size-full;
}

.user-chat {
  @apply flex items-center gap-2.5;
}
.user-chat__image {
  @apply flex-[0_0_40px] w-10 h-10;
}
.user-chat__name {
  @apply font-medium text-[clamp(16px,5vw,20px)];
}

.read-more {
  @apply flex flex-col gap-2.5 leading-[26px];
}
.read-more li {
  @apply ml-3.75 list-disc;
}
.read-more.active .read-more__text {
  -webkit-line-clamp: unset;
}
.read-more.active .read-more__button::after {
  @apply rotate-180;
}
.read-more__text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  transition: max-height 0.3s ease;
}
.read-more__button {
  @apply text-greyColor text-[15px] flex items-center gap-2.5 after:w-[8px] after:h-[14px] after:bg-[url('/icons/arrow-down.svg')] after:bg-no-repeat after:bg-center after:bg-contain after:transition-all after:duration-300;
}

.real-radio {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.real-radio:checked + .gender__item {
  background-color: #c4dbff !important;
}

.custom-radio--error {
  border-color: #ff0000 !important;
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.lg-image {
  border-radius: 10px;
  overflow: hidden;
}

.mdxeditor {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.mdxeditor-toolbar {
  width: fit-content;
  position: relative;
  min-height: 40px;
  background-color: transparent;
  border-radius: toRem(5);
  border: 1px solid #b0bfd7;
}

.mdxeditor-toolbar div[role="separator"] {
  height: 100%;
  margin: 0px;
  border-left: 0.5px solid #b0bfd7;
  border-right: 0.5px solid #b0bfd7;
}

.description__input {
  @apply min-h-[115px] h-auto rounded-md w-full block p-[14px] text-[14px] outline outline-border;
}
.description__input ul {
  @apply list-disc pl-[20px] mt-[20px] mb-0;
}
.description__input ul li {
  @apply list-disc;
}
.description__input ul li[role="checkbox"] {
  @apply list-none;
}
.description__input ol {
  @apply list-decimal pl-[20px] mt-[20px] mb-0;
}
.description__input ol li {
  @apply list-decimal;
}

.chat-input {
  @apply flex flex-col gap-1.25 p-3.75 outline outline-border bg-[#f8fbff];
}
.chat-input__input-wrapper {
  @apply flex gap-2.5 items-start justify-between;
}
.chat-input_input {
  @apply w-full bg-transparent outline-none block  max-h-[100px] h-[30px];
}

.chat-input__add-file {
  @apply flex items-center justify-center w-7.5 h-7.5 cursor-pointer;
}
.chat-input__add-file input {
  @apply absolute opacity-0 w-0 h-0 pointer-events-none;
}

.chat-input__image-wrapper {
  @apply relative w-[60px] h-[60px] rounded-md overflow-hidden cursor-pointer after:content-['✕'] after:absolute after:inset-0 after:w-full after:h-full after:bg-black/60 after:text-white after:font-bold after:flex after:items-center after:justify-center after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-300 after:z-2;
}
.chat-input__image-wrapper img {
  @apply w-full h-full object-cover;
}

.chat-input__image-wrapper:hover {
  @apply after:opacity-100;
}

button:disabled {
  @apply bg-[#b0bfd7] pointer-events-none;
}

.chat-input-reply {
  @apply flex items-center justify-between px-2.5 gap-2.5 border-l border-blueColor mb-1.25;
}

.chat-input-reply__content {
  @apply flex flex-col gap-2.5;
}

.chat-input-reply__name {
  @apply text-[15px];
}

.chat-input-reply__text {
  @apply text-sm text-greyColor;
}

.chat-input-reply__clear {
  @apply shrink-0 w-5 h-5 transition-all duration-300 hover:scale-110;
}

.chat-input-reply__clear img {
  @apply size-full;
}

/* ////////////////////////////////////// */

.active.tabs-dashboard__item {
  @apply bg-[#c4dbff];
}
.active.item-sections-forum {
  @apply bg-[#c4dbff];
}
.active.pages__page {
  @apply bg-[#edf4ff];
}

.logo {
  @apply capitalize text-[clamp(35px,5vw,45px)] leading-none;
}

.logo span {
  @apply text-blueColor;
}

.title {
  @apply text-[clamp(30px,5vw,40px)] font-medium leading-[117.5%];
}

.title--small {
  @apply font-medium text-[clamp(18px,5vw,25px)] leading-[120%];
}

.link {
  @apply text-blueColor underline text-sm;
}

.input-block {
  @apply w-full flex flex-col text-start justify-end gap-2.5;
}

.input-block p {
  @apply hyphens-auto whitespace-normal overflow-hidden wrap-break-word;
}

.input-block--price {
  @apply justify-between gap-7.5;
}

.check {
  @apply cursor-pointer flex items-center gap-2.5 h-fit;
}
.check .real-checkbox {
  @apply absolute w-0 h-0 opacity-0 z-[-1];
}
.check .custom-checkbox {
  @apply shrink-0 w-[20px] h-[20px] relative flex items-center justify-center rounded-sm bg-secondary border border-border after:w-[12px] after:h-[8px] after:bg-[url('/icons/check.svg')] after:bg-no-repeat after:bg-center after:bg-contain after:scale-0 after:transition-all after:duration-300;
}

.check .real-checkbox:checked + .custom-checkbox {
  @apply after:scale-100;
}

.custom-checkbox--error {
  border: 1px solid #ff0000 !important;
}

.password {
  @apply flex items-center justify-between gap-2.5;
}

.password__input {
  @apply bg-transparent outline-none w-full;
}
.password__button {
  @apply size-5;
}
.password__button svg {
  @apply size-full;
}
.password__button svg * {
  @apply transition-all duration-300;
}

.password__button.active svg * {
  @apply fill-blueColor;
}

/* HEADER */
.header {
  @apply relative z-20;
}

.body-header {
  @apply relative z-10;
}

.body-header__container {
  @apply relative py-[10px] xl:py-[15px] flex gap-[20px] items-center justify-between bg-white;
}

.body-header__block {
  @apply flex items-center xl:gap-[35px] gap-[15px];
}

.body-header__block--actions {
  @apply justify-end;
}

.language--desktop {
  @apply hidden xl:block;
}

.user--desktop {
  @apply hidden xl:block;
}

.search {
  @apply p-[2px] pl-[14px] outline outline-border rounded-md flex justify-between items-center gap-2.5 w-full max-w-[502px];
}
.search__input {
  @apply outline-none w-full;
}
.search__icon-body {
  @apply flex-[0_0_40px] w-10 h-10 bg-blueColor rounded-md flex items-center justify-center;
}
.search__icon {
  @apply flex-[0_0_25px] w-6.25 h-6.25;
}
.search__icon * {
  @apply size-full;
}

.search-mobile {
  @apply md:hidden;
}

.body-search-mobile {
  @apply absolute z-50 p-[15px] w-full h-full top-0 left-0 flex gap-6.25 items-center bg-white transform scale-0 transition-all duration-300 md:hidden;
}

.body-search-mobile.active {
  @apply scale-100;
}
.body-search-mobile__field {
  @apply py-[2px] px-[14px] outline outline-border rounded-md flex justify-between items-center gap-2.5 w-full  h-[45px];
}
.body-search-mobile__field input {
  @apply w-full;
}

.body-header__search {
  @apply hidden md:flex;
}

.user {
  @apply flex items-center justify-between gap-5;
}

.login-user {
  @apply flex items-center justify-center gap-2.5 w-fit mx-auto p-[2px] rounded-md border border-border;
}

.login-user__log-in {
  @apply bg-blueColor text-white rounded-sm py-[5px] px-[21px] transition-all duration-300 hover:bg-blueColor-hover;
}

.login-user__registration {
  @apply py-[5px] px-[20px] text-blueColor transition-all duration-300 hover:text-blueColor-hover;
}
.login-user__registration:hover svg * {
  @apply fill-blueColor-hover;
}

.link-login-user {
  @apply flex items-center gap-2.5 h-[45px] transition-all duration-300;
}
.link-login-user__icon {
  @apply size-3 flex items-center justify-center;
}
.link-login-user__icon svg {
  @apply size-full;
}
.link-login-user__icon svg * {
  @apply transition-all duration-300;
}

.body-user {
  @apply flex items-center justify-between gap-5 transition-all duration-300 hover:text-blueColor;
}
.body-user__exit {
  @apply text-greyColor underline;
}

.account-body-user {
  @apply flex items-center gap-5;
}
.account-body-user__icon-body {
  @apply shrink-0 w-11 h-11 rounded-sm overflow-hidden bg-secondary flex items-center justify-center;
}
.account-body-user__icon {
  @apply shrink-0 size-5;
}
.account-body-user__icon img {
  @apply size-full;
}
.account-body-user__name {
  @apply whitespace-nowrap flex items-center gap-2;
}

.btn-icon {
  @apply relative cursor-pointer shrink-0 w-10 h-10 rounded-sm flex items-center justify-center transition-all duration-300;
}

.btn-icon__image {
  @apply relative shrink-0 w-5 h-5 transition-all duration-300;
}

.btn-icon:hover .btn-icon__image {
  @apply scale-110;
}

.btn-icon__image img {
  @apply size-full;
}
.btn-icon--search {
  @apply outline outline-blueColor bg-white;
}
.btn-icon--notify {
  @apply bg-blueColor;
}
.btn-icon--favorites {
  @apply bg-white outline outline-blueColor;
}
.btn-icon--menu {
  @apply bg-text;
}

.actions-body-header {
  @apply flex items-center gap-2.5 sm:gap-[15px];
}

.actions-body-header .btn-icon--search {
  @apply md:hidden;
}

.bottom-header {
  @apply bg-secondary py-[12px];
}
.bottom-header__container {
  @apply w-full flex items-center justify-between gap-2.5 sm:gap-[20px];
}

.bottom-header__list {
  @apply flex items-center justify-center gap-5 text-center relative z-9 text-nowrap mr-auto;
}

.bottom-header__list > li {
  @apply relative;
}

.bottom-header__list > li:hover .main-menu__arrow {
  @apply transform rotate-180;
}

.bottom-header__list > li:hover .sub-menu__list {
  @apply block;
}

.bottom-header__list .menu__item {
  @apply relative;
}
.bottom-header__list .sub-menu__list {
  @apply hidden absolute top-2.5 right-0 pt-[30px];
}
.bottom-header__list .sub-menu__list > li {
  @apply relative bg-white outline outline-border transition-all duration-300;
}

.bottom-header__list .sub-menu__list > li:hover {
  @apply bg-secondary;
}
.bottom-header__list .sub-menu__list > li:hover .sub-menu__arrow {
  @apply transform rotate-90;
}
.bottom-header__list .sub-menu__list > li:hover .sub-sub-menu__list {
  @apply block;
}

.bottom-header__list .sub-menu__link {
  @apply flex items-center justify-center text-center p-[15px] w-full;
}
.bottom-header__list .sub-sub-menu__list {
  @apply hidden absolute top-0 right-[calc(100%+1px)];
}
.bottom-header__list .sub-sub-menu__list > li {
  @apply bg-white outline outline-border relative transition-all duration-300;
}

.bottom-header__list .sub-sub-menu__list > li:hover {
  @apply bg-secondary;
}
.bottom-header__list .sub-sub-menu__list > li:hover .sub-sub-menu__arrow {
  @apply transform rotate-90;
}
.bottom-header__list .sub-sub-menu__list > li:hover .sub-sub-sub-menu__list {
  @apply block;
}

.bottom-header__list .sub-sub-menu__list .sub-sub-sub-menu__list {
  @apply hidden absolute top-0 right-[calc(100%+1px)];
}
.bottom-header__list .sub-sub-menu__list .sub-sub-sub-menu__list > li {
  @apply bg-white outline outline-border transition-all duration-300;
}

.bottom-header__list .sub-sub-menu__list .sub-sub-sub-menu__list > li:hover {
  @apply bg-secondary;
}
.bottom-header__list .sub-sub-menu__list .sub-sub-sub-menu__link {
  @apply inline-block p-[15px];
}
.bottom-header__actions {
  @apply flex items-center gap-2.5 xl:gap-[15px] relative;
}

.bottom-header__actions .header-icon--favorites {
  @apply hidden sm:flex;
}

.bottom-header__actions .header-icon--notify {
  @apply hidden sm:flex;
}

.notification-value {
  @apply absolute z-2 size-[14px] top-[-60%] right-[-30%] bg-blueColor rounded-full flex items-center justify-center text-center pointer-events-none;
}
.notification-value__number {
  @apply relative top-[0.5px] text-white text-[10px];
}
.menu-bottom-header {
  @apply relative z-9 bg-blueColor rounded-md flex items-center justify-center gap-2.5 w-full max-w-[305px] min-w-[180px] py-[14px] leading-none px-[5px] cursor-pointer transition-all duration-300 hover:bg-blueColor-hover;
}

.menu-bottom-header.active .menu-bottom-header__items {
  @apply translate-y-0;
}
.menu-bottom-header__text {
  @apply text-white;
}
.menu-bottom-header__body {
  @apply absolute w-full h-fit top-[calc(100%+12px)] left-0 z-10  border-t-0 overflow-hidden pointer-events-none;
}
.menu-bottom-header__items {
  @apply flex flex-col relative -translate-y-[200%] bg-[#f8fbff] border border-border rounded-b-lg pointer-events-auto transition-all duration-300;
}
.menu-bottom-header__item {
  @apply py-[15px] px-[5px] text-center transition-all duration-300 hover:text-blueColor-hover;
}

.menu-bottom-header__item:not(:first-child) {
  @apply border-t border-border;
}

.notifications {
  @apply relative transition-all duration-300;
}
.notifications .notification-value {
  @apply absolute z-2 size-[14px] top-[-1px] right-[-1px] bg-white;
}
.notifications .notification-value__number {
  @apply text-blueColor;
}
.notifications.active {
  @apply bg-border;
}
.notifications.active .body-notifications__items {
  @apply !translate-y-0;
}

.body-notifications {
  @apply absolute z-99 w-full h-fit top-full right-0 overflow-hidden pointer-events-none md:w-[412px] md:h-fit md:top-[calc(100%+15px)];
}

.body-notifications.active .body-notifications__items {
  @apply !translate-y-0;
}
.body-notifications__items {
  @apply flex min-h-[100px] flex-col items-center justify-center gap-1.5 transition-all duration-300 -translate-y-[200%] p-[7px] rounded-b-lg bg-white border border-border overflow-auto pointer-events-auto max-h-[500px];
}

.item-body-notifications {
  @apply flex justify-between gap-[15px] p-[7px] transition-all duration-300;
}
.item-body-notifications__content {
  @apply flex flex-col gap-[15px];
}
.item-body-notifications.new {
  @apply bg-secondary rounded-md;
}
.item-body-notifications__more {
  @apply flex items-center gap-2.5 text-blueColor underline hover:text-blueColor-hover;
}
.item-body-notifications__more svg {
  @apply size-[20px] h-[12px];
}
.item-body-notifications__more svg * {
  @apply transition-all duration-300;
}
.item-body-notifications__more:hover svg * {
  @apply fill-blueColor-hover;
}

.menu {
  @apply z-99;
}

.menu__top {
  @apply flex items-center justify-between gap-2.5 w-full p-[15px] border-t border-border;
}

.menu__top .header-icon--favorites {
  @apply sm:hidden;
}

.menu__top .language {
  @apply mr-auto;
}

.menu .user {
  @apply w-full border-t border-border py-[25px] px-[15px];
}
.menu .body-user {
  @apply w-full;
}

.menu__body {
  @apply flex flex-col absolute w-full h-screen top-0 -right-full transition-all duration-300 pointer-events-none;
}

.menu__wrapper {
  @apply w-full h-fit bg-white mt-[60px]  overflow-auto pointer-events-auto;
}

.menu-open .menu__body {
  @apply right-0;
}

.menu__body .language {
  @apply w-[233px];
}

.menu__list {
  @apply text-black relative  flex-col flex items-center justify-center text-center xl:flex-row;
}
.sub-menu__list .sub-menu__link {
  @apply truncate w-full max-w-[300px];
}
.menu__list a {
  @apply transition-all duration-300 hover:text-blueColor;
}

.menu__item {
  @apply flex items-center gap-2.5;
}

.menu .menu__item {
  @apply border-t border-border py-[25px] px-[15px] w-full;
}

.menu__link {
  @apply relative flex items-center justify-center gap-2.5 transition-all duration-300 hover:text-blueColor;
}

.menu__arrow {
  @apply size-[12px] h-[7px] flex items-center justify-center transition-all duration-300;
}
.menu__arrow img {
  @apply size-full;
}

.icon-menu {
  @apply block relative size-[30px] h-[18px] z-5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  @apply content-[""] transition-all duration-300 left-0 absolute w-full h-[2px] bg-white;
}
.icon-menu span {
  @apply w-[80%];
}
.icon-menu::before {
  @apply top-0;
}
.icon-menu::after {
  @apply bottom-0;
}
.icon-menu span {
  @apply top-[calc(50%-1px)];
}
.menu-open .icon-menu span {
  @apply w-0;
}
.menu-open .icon-menu::before {
  @apply top-[calc(50%-1px)] -rotate-[45deg];
}
.menu-open .icon-menu::after {
  @apply bottom-[calc(50%-1px)] rotate-[45deg];
}

/* FOOTER ///////////////////////// */

.footer {
  @apply border-t border-border pt-[50px] pb-[15px] bg-secondary mt-[20px];
}
.footer__body {
  @apply flex flex-col gap-y-5 gap-x-[60px] justify-center text-center xl:text-start xl:flex-row xl:justify-between;
}
.footer__block {
  @apply flex flex-col gap-[35px];
}
.footer .logo {
  @apply text-[35px];
}
.footer__support {
  @apply mx-auto;
}
.footer__copy {
  @apply font-light text-[11px] text-center;
}

.socials {
  @apply flex flex-col gap-[25px];
}
.socials__text {
  @apply font-medium;
}
.socials__items {
  @apply flex gap-[15px] items-center justify-center xl:justify-start;
}

.socials__item {
  @apply shrink-0 size-[35px];
}
.socials__item svg {
  @apply size-full;
}
.socials__item svg * {
  @apply transition-all duration-300;
}
.socials__item:hover svg path {
  @apply fill-blueColor;
}
.socials__item:hover svg circle {
  @apply stroke-blueColor;
}

.menu-footer {
  @apply flex flex-col gap-[25px];
}
.menu-footer__title {
  @apply font-medium;
}
.menu-footer__items {
  @apply grid gap-[15px];
}
.menu-footer__item {
  @apply transition-all duration-300 hover:text-blueColor;
}

.support-footer {
  @apply max-w-[275px] mx-auto xl:mx-0;
}
.support-footer__title {
  @apply font-medium;
}
.support-footer__title:not(:last-child) {
  @apply mb-[25px];
}
.support-footer__text {
  @apply leading-[118.75%];
}
.support-footer__text:not(:last-child) {
  @apply mb-[44px];
}

/* HERO */

.hero {
  @apply relative pt-[72px] pb-[30px] flex flex-col gap-[30px] xl:gap-[72px];
  background: linear-gradient(
    180deg,
    #1858b8 0%,
    rgba(24, 88, 184, 0.95) 28.83%,
    rgba(24, 88, 184, 0.7) 59.5%,
    rgba(24, 88, 184, 0.1) 100%
  );
}
.hero__bg {
  @apply absolute w-full h-full top-0 left-0 z-[-1];
}

.hero__bg img {
  @apply w-full h-full object-cover;
}

.top-hero__container {
  @apply flex flex-col gap-[20px] justify-between text-center items-center md:flex-row md:text-start;
}

.top-hero__block {
  @apply flex flex-col gap-[18px] text-white;
}
.top-hero__title {
  @apply text-nowrap leading-[80%] border-b border-white pb-[10px] text-[clamp(40px,10vw,150px)];
}
.top-hero__title::first-letter {
  @apply text-[clamp(50px,10vw,200px)];
}
.top-hero__text {
  @apply leading-[21.33px] text-[clamp(18px,5vw,24px)];
}
.top-hero__button {
  @apply border-3 border-white rounded-md font-medium text-xl min-h-[60px] max-w-[236px] bg-transparent;
}

.body-hero {
  @apply relative;
}
.body-hero__container {
  @apply relative z-2;
}
.body-hero__slider {
  @apply flex flex-col gap-5;
}
.body-hero__slider .swiper-slide {
  @apply w-full h-[190px] flex items-center justify-center;
}
.body-hero__slider .swiper-slide img {
  @apply max-w-[340px] w-full h-full object-contain;
}
.body-hero__slider .swiper-pagination {
  @apply w-fit bg-blueColor px-2.5 py-[5px] rounded-md xl:hidden;
}

.adverts {
  @apply pt-[60px] pb-[30px];
}
.adverts__container {
  @apply flex flex-col gap-10;
}
.adverts__top {
  @apply flex items-center justify-between gap-5;
}
.adverts__top .adverts__button {
  @apply m-0 hidden md:flex;
}

.adverts__title {
  @apply text-center mx-auto md:text-start md:mx-0;
}
.adverts__button {
  @apply mx-auto;
}
.adverts__button--mobile {
  @apply md:hidden;
}
.adverts__body {
  @apply relative;
}
.adverts__slider {
  @apply overflow-hidden !flex !flex-col !gap-5 !p-[10px];
}
.adverts__slider .swiper-wrapper {
  @apply items-stretch;
}
.adverts__slider .swiper-slide {
  @apply h-auto;
}
.adverts__slider .swiper-pagination {
  @apply cursor-pointer;
}
.adverts__slider .swiper-pagination {
  @apply 1400:hidden;
}
.adverts .swiper-button {
  @apply -translate-y-1/2;
}

.adverts .swiper-button-prev {
  @apply -left-2.5 -translate-x-full rotate-180;
}
.adverts .swiper-button-next {
  @apply -right-2.5  translate-x-full;
}

.home-forum {
  @apply pt-[30px] pb-[20px];
}
.home-forum__container {
  @apply flex flex-col gap-[50px];
}
.home-forum__title {
  @apply text-center xl:text-start;
}
.home-forum__items {
  @apply flex flex-col flex-wrap justify-center justify-items-center items-center gap-[20px] xl:flex-row;
}
.home-forum__item .item-forum__body {
  @apply !flex-col;
}
.home-forum__item .item-forum__title {
  @apply text-text;
}

.body-home-forum {
  @apply rounded-[7px] bg-secondary py-[40px] flex flex-col text-center items-center justify-between gap-[60px] relative px-[15px] md:flex-row md:text-start xl:px-10;
}
.body-home-forum__block {
  @apply relative flex flex-col gap-[25px] max-w-[758px];
}
.body-home-forum__title {
  @apply leading-[116.666667%];
}
.body-home-forum__text {
  @apply leading-[118.75%];
}
.body-home-forum__link {
  @apply relative;
}
.body-home-forum__decor {
  @apply absolute w-fit h-full bottom-0 right-0 p-[5px] pointer-events-none;
}
.body-home-forum__decor img {
  @apply w-full h-full object-contain object-bottom;
}

.about {
  @apply py-[70px] xl:pt-[102px] xl:pb-[60px];
}

.about__container {
  @apply relative flex flex-col gap-[30px] xl:gap-[60px];
}

.about__title {
  @apply text-center;
}

.about__body {
  @apply flex flex-col gap-[15px] text-base xl:text-lg leading-[144.444444%];
}

.about__block ol {
  counter-reset: list-counter;
}

.about__block li {
  list-style: none;
  position: relative;
  &::before {
    content: counter(list-counter) ") ";
    counter-increment: list-counter;
    font-weight: 500;
    margin-right: 5px;
  }
}
.about__decor {
  @apply absolute;
}
.about__decor img {
  @apply w-full h-full object-contain;
}

.about__decor--01 {
  @apply w-[100px] h-[64px] xl:w-[113px] xl:h-[75px];
}

.about__decor--02 {
  @apply relative md:absolute md:mx-0 mx-auto right-0 w-full h-full max-w-[348px] max-h-[348px] aspect-square;
}

.favorite {
  @apply py-[50px] xl:py-[60px];
}

.favorite__top:not(:last-child) {
  @apply mb-[40px];
}
.favorite__title {
  @apply text-center md:text-start;
}

.favorite__body {
  @apply flex flex-col gap-[40px];
}
.favorite__items {
  @apply w-full grid justify-items-center gap-[20px] md:grid-cols-2 xl:grid-cols-3;
}

.favorite__pages {
  @apply mx-auto md:hidden;
}

.login__container {
  @apply flex items-center justify-center;
}
.login__wrapper {
  @apply bg-white w-full rounded-[7px] max-w-[886px] shadow-[0_6px_25px_0_rgba(40,40,40,0.15)] flex flex-col items-center justify-center md:m-[60px];
}

.login__body {
  @apply w-full max-w-[502px] flex flex-col items-center justify-center py-[50px] px-[15px] gap-[30px];
}
.login__top {
  @apply flex flex-col items-center justify-center text-center gap-[20px];
}

.entry-login {
  @apply flex items-center justify-center text-[14px];
}
.entry-login__text {
  @apply pr-[10.5px];
}
.entry-login__link {
  @apply pl-[10.5px] text-blueColor underline border-l border-blueColor;
}

.form-login {
  @apply w-full grid;
}
.form-login__block {
  @apply flex flex-col gap-[20px];
}
.form-login__block:not(:last-child) {
  @apply mb-[15px];
}
.form-login__block-text {
  @apply text-center text-[14px];
}
.form-login__actions {
  @apply flex items-center text-center gap-[20px] justify-between text-[14px] leading-[114.285714%];
}
.form-login__actions:not(:last-child) {
  @apply mb-[35px];
}
.form-login__actions .check {
  @apply items-center;
}
.form-login__button {
  @apply mx-auto;
}
.form-login .socials-auth:not(:last-child) {
  @apply mb-[55px];
}

.socials-auth {
  @apply flex flex-col gap-[10px];
}
.socials-auth__text {
  @apply text-center text-[14px];
}
.socials-auth__body {
  @apply grid gap-[20px] grid-cols-[repeat(auto-fit,minmax(145px,1fr))];
}

.item-socials-auth {
  @apply bg-white cursor-pointer border border-border rounded-[7px] flex items-center justify-center text-center gap-[10px] p-[13px] transition-all duration-300 hover:bg-[#EDF4FF];
}
.item-socials-auth__image {
  @apply shrink-0 w-[35px] h-[35px];
}
.item-socials-auth__image img {
  @apply w-full h-full object-cover;
}

.page-regisrtation .form-login__block:not(:last-child) {
  @apply mb-[55px];
}

.dashboard {
  @apply pt-[40px] pb-[70px];
}
.dashboard__container {
  @apply flex flex-col gap-[20px] xl:flex-row;
}
.dashboard__container .title {
  @apply text-center xl:text-start;
}

.dashboard__block {
  @apply w-full flex flex-col gap-[20px];
}
.dashboard__form {
  @apply flex flex-col gap-[20px];
}

.tabs-dashboard {
  @apply relative w-full xl:max-w-[305px] p-[2px] z-2;
}
.tabs-dashboard .swiper {
  @apply !overflow-visible;
}
.tabs-dashboard .swiper-wrapper {
  @apply w-full h-fit xl:flex-col xl:gap-10 xl:translate-0;
}
.tabs-dashboard .swiper-slide {
  @apply w-full flex flex-col gap-[20px];
  display: flex;
  flex-direction: column;
  gap: toRem(20);
}

.tabs-dashboard .select {
  @apply xl:hidden;
}
.tabs-dashboard .swiper-arrow {
  @apply absolute z-2 w-fit h-fit top-[5px] !bg-transparent xl:hidden;
}
.tabs-dashboard .swiper-arrow.swiper-button-disabled svg path {
  @apply fill-[#b0bfd7];
}
.tabs-dashboard .swiper-arrow-prev {
  @apply left-0;
}
.tabs-dashboard .swiper-arrow-next {
  @apply right-0 rotate-180;
}
.tabs-dashboard__block {
  @apply flex flex-col gap-[20px];
}
.tabs-dashboard__title {
  @apply text-[20px] text-center px-5 xl:px-0 xl:text-start;
}

.tabs-dashboard__items {
  @apply flex flex-col gap-[10px];
}
.tabs-dashboard__item {
  @apply w-full p-[13px] rounded-[5px] outline leading-none outline-border bg-white transition-all duration-300 hover:outline-blueColor;
}
.tabs-dashboard__item--mobile {
  @apply !block;
}

.wrapper-dashboard {
  @apply w-full;
}
.wrapper-dashboard__title:not(:last-child) {
  @apply mb-[20px];
}

.body-dashboard {
  @apply w-full flex flex-col gap-[40px];
}
.body-dashboard__wrapper {
  @apply w-full grid gap-[30px] xl:grid-cols-2;
}

.body-dashboard__block {
  @apply flex flex-col gap-[20px];
}
.body-dashboard .input-number {
  @apply w-full bg-transparent outline-none xl:max-w-[197px];
}

.block-row {
  @apply w-full flex flex-col gap-[20px] xl:flex-row;
}

.block-row__item {
  width: 100%;
  flex: 0 1 50%;
}
.block-row--nowrap {
  @apply flex-row justify-between items-stretch;
}
.block-row--nowrap .block-row__item {
  @apply w-fit flex items-center justify-center;
}
.block-row .check {
  @apply text-nowrap flex-col xl:flex-row;
}

.input-body {
  @apply relative w-full flex justify-between items-center gap-[10px];
}
.input-body__item {
  @apply w-fit h-fit;
}

.input-block-title p {
  @apply pr-[100px];
}
.input-block-title .input-body {
  @apply w-full;
}
.input-block-title .input-body .input-body__item {
  @apply absolute w-fit h-fit top-[-20px] right-0 text-[12px] text-[#838383];
}

.input-body-file {
  @apply max-w-full flex flex-col gap-[20px];
}
.input-body-file__input-wrapper {
  @apply max-w-full relative grid;
}
.input-body-file .swiper-button {
  @apply flex;
}
.input-body-file .swiper-button-prev {
  @apply left-5;
}
.input-body-file .swiper-button-next {
  @apply right-5;
}
.input-body-file__input {
  @apply grid items-stretch justify-center relative cursor-pointer w-full  h-[220px] xl:h-[320px];
}
.input-body-file__input input {
  @apply absolute w-0 h-0 opacity-0;
}
.input-body-file__content {
  @apply w-full flex flex-col gap-[20px] justify-between sm:flex-row;
}
.input-body-file__actions {
  @apply w-fit flex flex-col gap-[20px] items-center mx-auto md:m-0;
}

.input-body-file__button {
  @apply cursor-pointer w-[197px];
}
.input-body-file__delete {
  @apply underline;
}

.downloads-input-body-file {
  @apply flex items-center gap-[10px] text-wrap;
}
.downloads-input-body-file__image-box {
  @apply relative w-[65px] h-[65px] rounded-[7px] bg-[#f8fbff] border border-border  before:absolute before:w-[30px] before:h-[30px] before:top-1/2 before:left-1/2 before:translate-x-[-50%] before:translate-y-[-50%] before:bg-[url('/icons/image.svg')] before:bg-cover before:bg-center;
}

.downloads-input-body-file__image {
  @apply relative w-full h-full;
}
.downloads-input-body-file__image img {
  @apply w-full h-full object-cover;
}
.downloads-input-body-file__text {
  @apply text-greyColor text-[18px];
}

.description p {
  @apply pt-[20px];
}

.dashboard-files {
  @apply w-full;
}
.dashboard-files__input {
  @apply w-0 h-0 opacity-0;
}

.contact-dashboard {
  @apply flex flex-col gap-[20px];
}
.contact-dashboard__body {
  @apply flex flex-col gap-[20px];
}
.contact-dashboard__content {
  @apply grid gap-[20px]  text-nowrap xl:grid-cols-3;
}
.contact-dashboard__text {
  @apply text-[14px] text-greyColor;
}

.actions-dashboard {
  @apply flex flex-wrap gap-x-[50px] gap-y-[20px];
}
.actions-dashboard .button {
  @apply max-w-[300px];
}

.gender__items {
  @apply flex gap-[20px] items-center;
}
.gender__item {
  @apply cursor-pointer bg-[#f8fbff] w-[56px] h-[49px] rounded-[7px] border border-border transition-all duration-300 flex items-center justify-center p-[5px] text-[18px] font-medium;
}

.birth-date {
  @apply grid  items-center gap-[20px] sm:grid-cols-3;
}

.birth-date__item {
  @apply w-full;
}

.dashboard-contacts {
  @apply w-full;
}
.dashboard-contacts .body-dashboard__wrapper {
  @apply flex flex-col justify-between md:flex-row-reverse;
}
.dashboard-contacts__block {
  @apply w-full max-w-[306px] gap-[30px] mx-auto;
}
.dashboard-contacts__user-block {
  @apply w-full h-fit gap-0 border border-border rounded-[7px];
}
.dashboard-contacts__delete {
  @apply mx-auto;
}

.data-dashboard-contacts {
  @apply w-full flex flex-col gap-[40px];
}
.data-dashboard-contacts__body {
  @apply w-full;
}
.data-dashboard-contacts__text {
  @apply text-[14px] text-greyColor;
}
.data-dashboard-contacts__save {
  @apply mx-auto md:m-0;
}

.user-dashboard-contacts {
  @apply py-[30px] px-[20px] flex flex-col justify-center items-center gap-[25px] w-full mx-auto max-w-[400px] border border-border md:border-none md:border-b md:max-w-none;
}

.user-dashboard-contacts--mobile {
  @apply md:hidden;
}

.user-dashboard-contacts__block {
  @apply text-center text-[25px] leading-[120%];
}

.photo-dashboard-contacts {
  @apply flex flex-col gap-[30px] justify-center items-center;
}
.photo-dashboard-contacts__image {
  @apply relative w-[176px] h-[158px] rounded-[7px] border border-border overflow-hidden;
}
.photo-dashboard-contacts__image img {
  @apply relative w-full h-full object-cover;
}
.photo-dashboard-contacts__save input {
  @apply w-0 h-0 opacity-0;
}

.password-dashboard-contacts {
  @apply py-[30px] px-[20px] flex flex-col gap-[30px] items-center justify-center text-center;
}
.password-dashboard-contacts__title {
  @apply text-[25px];
}
.password-dashboard-contacts__body {
  @apply w-full max-w-[600px] flex flex-col gap-[20px] items-center justify-center text-center;
}
.password-dashboard-contacts__actions {
  @apply w-full flex flex-col gap-[15px] items-center justify-center text-center;
}

.dashboard__block {
  @apply w-full;
}

.my-dashboard__content {
  @apply grid [grid-template-columns:repeat(auto-fit,minmax(280px,1fr))] gap-5;
}
.my-dashboard__content .item-advert {
  @apply mx-auto;
}

.product {
  @apply pt-[50px];
}
.product__container {
  @apply flex flex-col gap-[30px];
}

.top-product {
  @apply hidden xl:flex;
}

.top-product__body {
  @apply flex flex-col xl:flex-row text-center xl:text-start justify-center flex-wrap items-center xl:justify-between gap-[20px];
}

.top-product__block {
  @apply flex flex-col xl:flex-row text-center xl:text-start justify-center xl:justify-start items-center gap-[25px] flex-wrap;
}

.top-product__actions {
  @apply flex items-center gap-[25px];
}
.top-product__actions .like {
  @apply w-[30px] h-[30px] border-none;
}
.top-product__actions .like svg {
  @apply flex-auto w-full h-full;
}

.price-product {
  @apply flex flex-col items-center gap-[5px];
}
.price-product__text {
  @apply text-nowrap;
}
.price-product__sub-text {
  @apply font-medium text-greyColor;
}

.body-product {
  @apply flex flex-col xl:flex-row gap-[20px] w-full;
}

.body-product__content-wrapper {
  @apply w-full xl:max-w-[847px];
}

.body-product__content {
  @apply w-full flex flex-col gap-[40px];
}
.body-product__content .top-product__body {
  @apply w-full flex flex-col text-center items-center justify-center xl:hidden;
}

.body-product__content .top-product__block {
  @apply flex-col text-center items-center justify-center;
}
.body-product__images {
  @apply grid gap-[20px];
}
.body-product__slider {
  @apply w-full !flex;
}
.body-product__slider .swiper-slide {
  @apply !w-full !h-full max-h-[500px] !rounded-[10px] !overflow-hidden;
}
.body-product__slider .swiper-slide img {
  @apply w-full h-full object-cover;
}
.body-product .body-product__thumbs-slider-wrapper {
  @apply relative px-[51px] mx-auto w-full max-w-[60%] hidden md:grid;
}

.body-product .body-product__thumbs-slider {
  @apply w-full;
}
.body-product .body-product__thumbs-slider .swiper-button {
  @apply xl:!block;
}

.body-product .body-product__thumbs-slider .swiper-slide {
  @apply border-2 border-transparent transition-all duration-300 !rounded-[4px] !overflow-hidden !w-[41px] !h-[41px];
}
.body-product .body-product__thumbs-slider .swiper-slide img {
  @apply w-full h-full object-cover;
}
.body-product .body-product__thumbs-slider .swiper-slide-thumb-active {
  @apply border-blueColor;
}
.body-product__block {
  @apply flex-auto flex flex-col gap-[20px];
}

.description-body-product._showmore-active .description-body-product__more {
  @apply after:rotate-180;
}
.description-body-product__title {
  @apply text-lg xl:text-[25px] font-medium text-center xl:text-start;
}

.description-body-product__title:not(:last-child) {
  @apply mb-[20px];
}

.info-body-product {
  @apply p-10 xl:p-5 rounded-[7px] border border-border max-w-[410px] w-full mx-auto;
}
.info-body-product__title {
  @apply text-[25px] font-medium;
}
.info-body-product__title:not(:last-child) {
  @apply mb-[20px];
}
.info-body-product__text {
  @apply leading-[120%];
}
.info-body-product__text:not(:last-child) {
  @apply mb-[10px];
}
.info-body-product__link {
  @apply text-blueColor text-[20px] underline;
}
.info-body-product__link:not(:last-child) {
  @apply mb-[30px];
}
.info-body-product__location:not(:last-child) {
  @apply mb-[30px];
}

.location-info-body-product {
  @apply flex flex-col gap-[20px];
}
.location-info-body-product__block {
  @apply flex flex-col gap-[10px];
}
.location-info-body-product__map {
  @apply relative w-full h-full rounded-[10px] overflow-hidden xl:w-[285px] xl:h-[180px];
}
.location-info-body-product__map iframe {
  @apply max-w-full max-h-full w-full h-full object-cover;
}

.contact-info-body-product {
  @apply flex flex-col gap-[10px];
}
.contact-info-body-product__title {
  @apply text-[18px];
}
.contact-info-body-product__text {
  @apply font-medium;
}

.actions-body-product {
  @apply flex flex-col gap-[20px];
}
.actions-body-product__block {
  @apply flex items-center justify-center flex-col gap-[10px];
}
.actions-body-product__socials {
  @apply flex items-center justify-center gap-[15px];
}
.actions-body-product__socials .socials__text {
  @apply font-normal;
}

.trade__container {
  @apply flex flex-col gap-10;
}
.trade__title {
  @apply text-center md:text-start;
}

.trade__body {
  @apply flex flex-col gap-[20px] xl:flex-row;
}

.filters-trade {
  @apply w-full flex flex-col gap-[30px] xl:max-w-[305px];
}

.filters-trade__button {
  @apply w-full max-w-none gap-[10px] bg-white border border-border text-black xl:hidden transition-all duration-300 hover:text-white;
}

.filters-trade__button svg {
  @apply w-[18px] h-[18px];
}
.filters-trade__button svg * {
  @apply transition-all duration-300;
}

.filters-trade__button:hover svg * {
  @apply fill-white;
}

.body-filters-trade {
  @apply flex flex-col items-start fixed w-full h-full top-0 left-0 transform scale-0 transition-all duration-300 bg-white z-50 xl:relative xl:scale-100;
}

.body-filters-trade.active {
  @apply scale-100;
}
.body-filters-trade__wrapper {
  @apply w-full flex flex-col items-start overflow-auto py-[20px] px-[35px] xl:p-0;
}

.body-filters-trade__items {
  @apply w-full flex flex-col gap-[20px];
}
.body-filters-trade__items:not(:last-child) {
  @apply mb-[20px];
}
.body-filters-trade__actions {
  @apply w-full flex flex-col gap-[20px];
}
.body-filters-trade__back {
  @apply flex gap-[10px] items-center xl:hidden;
}
.body-filters-trade__back img {
  @apply w-[33px] h-full;
}

.body-filters-trade__back:not(:last-child) {
  @apply mb-5;
}

.body-filters-trade .filters-trade__button {
  @apply xl:hidden;
}
.body-filters-trade .filters-trade__button:not(:last-child) {
  @apply mb-[40px];
}
.body-filters-trade__button {
  @apply mx-auto max-w-[320px];
}

.item-filter {
  @apply pb-[20px] border-b border-border;
}
.item-filter .spollers__title {
  @apply text-[18px] font-medium;
}
.item-filter .spollers__content {
  @apply flex flex-col gap-[15px];
}
.item-filter__block {
  @apply flex flex-col gap-[15px];
}

.content-trade {
  @apply w-full flex flex-col gap-[60px];
}
.content-trade__items {
  @apply w-full grid justify-items-center gap-[20px] md:grid-cols-2 xl:grid-cols-3;
}

.chat {
  @apply pt-[40px] pb-[60px];
}
.chat__wrapper {
  @apply relative overflow-hidden flex outline-1 border-border rounded-[7px] h-screen min-h-[400px] xl:min-h-[600px];
}

.chat__block {
  @apply flex-auto;
}

.block-chat {
  @apply w-full h-full flex flex-col xl:max-w-[413px] xl:border-r xl:border-border;
}

.block-chat__section {
  @apply flex flex-col gap-[20px];
}
.block-chat__section-title {
  @apply underline uppercase text-[17px] xl:text-xl;
}
.block-chat__section-items {
  @apply flex flex-col gap-[30px];
}
.block-chat__title {
  @apply uppercase font-medium text-[17px] xl:text-xl;
}
.block-chat__content {
  @apply w-full h-full overflow-y-auto;
}
.block-chat__items {
  @apply h-fit w-full flex flex-col-reverse gap-[30px] p-[15px];
}
.block-chat__item .item-block-chat__image {
  @apply shrink-0 size-[51px] sm:size-[63px];
}

.block-chat__item .item-block-chat__image img {
  @apply w-full h-full object-cover;
}
